<!DOCTYPE html>

<html>
    <head>
        <title>Login to continue</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootswatch/4.5.2/simplex/bootstrap.min.css" integrity="sha384-FYrl2Nk72fpV6+l3Bymt1zZhnQFK75ipDqPXK0sOR0f/zeOSZ45/tKlsKucQyjSp" crossorigin="anonymous">
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    </head>

    <body>

      <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="/">HospiPharma</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor03" aria-controls="navbarColor03" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarColor03">
          <ul class="navbar-nav mr-auto">
          <li class="nav-item">
            <a class="nav-link" href="#">Login</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/signup">Signup</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/">Search</a>
          </li>
          </ul>
        </div>
      </nav>

    <div style="padding: 5%;">
      <div class="card border-primary mb-3 mx-auto" style="max-width: 20rem;">
        <div class="card-body">
          <h4 class="card-title">Login</h4>
          <% if (messages.error) { %>
            <p style="color:red"><%- messages.error %></p>
            <% } %>
            <% if (messages.success) { %>
            <p style="color:green"><%- messages.success %></p>
            <% } %>
          <form action="/login" method="POST">
            <fieldset>
                <div class="form-group">
                    <label for="username">Username</label>
                    <input type="text" class="form-control" id="username" placeholder="Username" name="username">
                  </div>
              <div class="form-group">
                <label for="password">Password</label>
                <input type="password" class="form-control" id="password" placeholder="Password" name="password">
              </div>
              <button type="submit" class="btn btn-primary">Login</button>
              <p>Don't have a account? <a href="/signup" style="color:orangered;"> Sign up</a></p>
            </fieldset>
            </form>
        </div>
      </div>
        </div>
    </body>

</html>